@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --error-color: #ff6068;
  --brand-contrast-color: #151c33;
  --color: #FFFFFF;
  --color-shade-1: #FFFFFF;
  --color-shade-2: rgba(237, 237, 237, 0.3);
  --brand-color: #ff2e4c;
  --brand-color-shade-1: #d52845;
  --brand-color-shade-2: #d62a4c;
  --background-color: transparent;
  --link-color: #FFFFF;
  --border-radius: 10px;
  --font-size: 16px;
  --font-weight: 400px;
  --h1-font-size: 24px;
  --h2-font-size: 16px;
  --font-family: "IBM Plex Sans", sans-serif;
}
